{
	"root": true,

	"extends": "@ljharb",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"overrides": [
		{
			"files": ["test/**/*.js"],
			"parserOptions": {
				"ecmaVersion": 5,
				"sourceType": "script"
			}
		}
	]
}
